
@font-face {
  font-family: 'Geomanist-Bold';
  src: url('https://s3-eu-west-1.amazonaws.com/2017creatives/february/playerone_countdown/font/Geomanist-Bold.eot?#iefix') format('embedded-opentype'),
       url('https://s3-eu-west-1.amazonaws.com/2017creatives/february/playerone_countdown/font/Geomanist-Bold.otf')  format('opentype'),
	   url('https://s3-eu-west-1.amazonaws.com/2017creatives/february/playerone_countdown/font/Geomanist-Bold.woff') format('woff'),
       url('https://s3-eu-west-1.amazonaws.com/2017creatives/february/playerone_countdown/font/Geomanist-Bold.ttf')  format('truetype'),
       url('https://s3-eu-west-1.amazonaws.com/2017creatives/february/playerone_countdown/font/Geomanist-Bold.svg#Geomanist-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
