@font-face {
  font-family: 'DINPro-Bold';
  src: url('https://s3-eu-west-1.amazonaws.com/2017creatives/february/ttnet_prime_weather-21-02/300x250-1/font/DINPro-Bold.eot?#iefix') format('embedded-opentype'),
       url('https://s3-eu-west-1.amazonaws.com/2017creatives/february/ttnet_prime_weather-21-02/300x250-1/font/DINPro-Bold.otf')  format('opentype'),
	   url('https://s3-eu-west-1.amazonaws.com/2017creatives/february/ttnet_prime_weather-21-02/300x250-1/font/DINPro-Bold.woff') format('woff'),
       url('https://s3-eu-west-1.amazonaws.com/2017creatives/february/ttnet_prime_weather-21-02/300x250-1/font/DINPro-Bold.ttf')  format('truetype'),
       url('https://s3-eu-west-1.amazonaws.com/2017creatives/february/ttnet_prime_weather-21-02/300x250-1/font/DINPro-Bold.svg#DINPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINPro-Regular';
  src: url('https://s3-eu-west-1.amazonaws.com/2017creatives/february/ttnet_prime_weather-21-02/300x250-1/font/DINPro-Regular.eot?#iefix') format('embedded-opentype'),
       url('https://s3-eu-west-1.amazonaws.com/2017creatives/february/ttnet_prime_weather-21-02/300x250-1/font/DINPro-Regular.otf')  format('opentype'),
	   url('https://s3-eu-west-1.amazonaws.com/2017creatives/february/ttnet_prime_weather-21-02/300x250-1/font/DINPro-Regular.woff') format('woff'),
       url('https://s3-eu-west-1.amazonaws.com/2017creatives/february/ttnet_prime_weather-21-02/300x250-1/font/DINPro-Regular.ttf')  format('truetype'),
       url('https://s3-eu-west-1.amazonaws.com/2017creatives/february/ttnet_prime_weather-21-02/300x250-1/font/DINPro-Regular.svg#DINPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html,body,p,div,a,ul,li{margin: 0; padding: 0; box-sizing: border-box; color: #011347; list-style-type: none; text-decoration: none;}

#wrapper{width: 300px; height: 250px; position: absolute; top: 0; left:0; right: 0; bottom: 0; margin: auto; background: url(https://s3-eu-west-1.amazonaws.com/2017creatives/february/ttnet_prime_weather-21-02/300x250-1/img/bg.png) 0 0 no-repeat; background-size: contain;}

#tabs{position: absolute; top: 7px; left: 6px; width: 287px; height: 33px;}

#tabs li{width: 33.33333333%; float: left; height: 33px;}

#tabs li a{width: 100%; height: 100%; display: block; text-align: center; line-height: 33px; font-size: 15.5px; font-family: 'DINPro-Regular';}

#tabs li.on a{font-family: 'DINPro-Bold';}
#tabs li#bugun.on a{background: url(https://s3-eu-west-1.amazonaws.com/2017creatives/february/ttnet_prime_weather-21-02/300x250-1/img/tab-1-on.png) 0 0 no-repeat;}
#tabs li#yarin.on a{background: url(https://s3-eu-west-1.amazonaws.com/2017creatives/february/ttnet_prime_weather-21-02/300x250-1/img/tab-2-on.png) 0 0 no-repeat;}
#tabs li#pazar.on a{background: url(https://s3-eu-west-1.amazonaws.com/2017creatives/february/ttnet_prime_weather-21-02/300x250-1/img/tab-3-on.png) 0 0 no-repeat;}

#weather{position: absolute; top: 35px; right: 25px; z-index: 5;}

#location{position: absolute; top: 42px; left: 35px; font-family: 'DINPro-Regular'; font-size: 18px;}
#location span{font-family: 'DINPro-Bold';}

.stats{font-size: 10px; font-family: 'DINPro-Bold'; line-height: 20px; width: 232px; margin: 0 auto; overflow: hidden;}
.stats span{float: right;}

#hissedilen{ padding-top: 72px;}

#info{width: 100%; height: 210px; display: block; text-indent: -9999px; position: absolute; bottom: 0; right: 0;}

