<html>
	<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" href="https://s3-eu-west-1.amazonaws.com/2017creatives/february/playerone_countdown/css/main.css">
        <link rel="stylesheet" href="https://s3-eu-west-1.amazonaws.com/2017creatives/february/playerone_countdown/css/styles.css">
		<script src="https://s3-eu-west-1.amazonaws.com/2017creatives/february/playerone_countdown/js/jquery.min.js"></script>
		<script src="https://s3-eu-west-1.amazonaws.com/2017creatives/february/playerone_countdown/js/lodash.min.js"></script>
		<script src="https://s3-eu-west-1.amazonaws.com/2017creatives/february/playerone_countdown/js/jquery.countdown.min.js"></script>
        <script src="https://s3-eu-west-1.amazonaws.com/2017creatives/february/playerone_countdown/js/jquery.flexslider.js"></script>
        
    <title>Gillette Player 1</title>
	</head>
	<body>
    <!-- CLICK LINK -->
		<div class="main-example">
			<div class="clock"></div>
            
            <p id="text1" class="text">22.45'de oynanacak Barcelona maçını bir gamepad ile oynamak ister misin?</p>
            <p id="text2" class="text">5 Nisan’da Nou Camp’taki FC Barcelona - Sevilla FC maçına iki kişilik VIP bilet kazanma şansı yakala!</p>
            
            <a href="#" id="calendar" class="btn" onclick="mLab('addToCalendar', '58a1bab8bd966f2cc1e4a380')">TAKVİME EKLE</a>
            <a href="javascript:;" id="howtoplay" class="btn" onclick="mLab('howToPlay','58a1bb23c2ef162b33f5d523')">NASIL OYNANIR?</a>
            
		</div>
        
        <div id="infoWrapper">
          <img id="swipeIcon" src="https://s3-eu-west-1.amazonaws.com/2017creatives/february/playerone_countdown/img/swipe.png" height="32" width="32"/>
          <a id="closeInfo" href="javascript:void(0)" title="close">X</a>
          <div id="tutorialSlider" class="flexslider">
            <ul class="slides">
              <li>
                <img src="https://s3-eu-west-1.amazonaws.com/2017creatives/february/playerone_countdown/img/1.jpg" />
              </li>
              <li>
                <img src="https://s3-eu-west-1.amazonaws.com/2017creatives/february/playerone_countdown/img/2.jpg" />
              </li>
              <li>
                <img src="https://s3-eu-west-1.amazonaws.com/2017creatives/february/playerone_countdown/img/3.jpg" />
              </li>
              <li>
                <img src="https://s3-eu-west-1.amazonaws.com/2017creatives/february/playerone_countdown/img/4.jpg" />
              </li>
              <li>
                <img src="https://s3-eu-west-1.amazonaws.com/2017creatives/february/playerone_countdown/img/5.jpg" />
              </li>
            </ul>
          </div>
        </div>
        
		<script type="text/template" id="main-example-template">
			<div class="time <%= label %>">
				<span class="count curr top"><%= curr %></span>
				<span class="count next top"><%= next %></span>
				<span class="count next bottom"><%= next %></span>
				<span class="count curr bottom"><%= curr %></span>
				<span class="label"><%= label  %></span>
			</div>
		</script>
		<script type="text/javascript">
            
            function mLab(type, id) {
                var url = "https://api.mlab.com/api/1/databases/playerone_countdown/collections/"+type+"/"+id+"?apiKey=TRceDUxgQlyuLghe6AaHF4GyyYgA2XH1";

                xhr = new XMLHttpRequest();
                xhr.open("GET", url, true);
                xhr.setRequestHeader("Content-type", "application/json");
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 3 && xhr.status == 200) {
                        var temp = JSON.parse(xhr.responseText);
                        var val = temp.count;
                        var xhr2 = new XMLHttpRequest();
                        xhr2.open('PUT', url, true);
                        xhr2.setRequestHeader("Content-type", "application/json");
                        xhr2.onreadystatechange = function(){

                        }
                        xhr2.send( JSON.stringify( { "$set" : { count : val+1 } } ) )
                    }
                };
                xhr.send();
            }
            
            $(window).on('load', function() {
    var labels = ['GÜN', 'SAAT', 'DAKİKA', 'SANİYE'],
      nextYear = '2017/02/14 22:45:00',
      template = _.template($('#main-example-template').html()),
      currDate = '00:00:00:00:00',
      nextDate = '00:00:00:00:00',
      parser = /([0-9]{2})/gi,
      $example = $('.clock');
    // Parse countdown string to an object
    function strfobj(str) {
      var parsed = str.match(parser),
        obj = {};
      labels.forEach(function(label, i) {
        obj[label] = parsed[i]
      });
      return obj;
    }
    // Return the time components that diffs
    function diff(obj1, obj2) {
      var diff = [];
      labels.forEach(function(key) {
        if (obj1[key] !== obj2[key]) {
          diff.push(key);
        }
      });
      return diff;
    }
    // Build the layout
    var initData = strfobj(currDate);
    labels.forEach(function(label, i) {
      $example.append(template({
        curr: initData[label],
        next: initData[label],
        label: label
      }));
    });
    // Starts the countdown
    $example.countdown(nextYear, function(event) {
      var newDate = event.strftime('%D:%H:%M:%S'),
        data;
      if (newDate !== nextDate) {
        currDate = nextDate;
        nextDate = newDate;
        // Setup the data
        data = {
          'curr': strfobj(currDate),
          'next': strfobj(nextDate)
        };
        // Apply the new values to each node that changed
        diff(data.curr, data.next).forEach(function(label) {
          var selector = '.%s'.replace(/%s/, label),
              $node = $example.find(selector);
          // Update the node
          $node.removeClass('flip');
          $node.find('.curr').text(data.curr[label]);
          $node.find('.next').text(data.next[label]);
          // Wait for a repaint to then flip
          _.delay(function($node) {
            $node.addClass('flip');
          }, 50, $node);
        });
      }
    });
  });
            $(function(){
                
                setInterval(function(){
                    $('#text1, #text2').fadeToggle();
                },5000);
                
                if (navigator.userAgent.indexOf('CriOS')>-1){
                    //iOS - Chrome
                    $('#calendar').attr('href', 'webcal://static.apprupt.com/cal/173.ics');
                } else if(navigator.userAgent.indexOf('AppleWebKit')>-1){
                    //iOS - Safari
                    $('#calendar').attr('href', 'https://static.apprupt.com/cal/173.ics');
                } else {
                    //Android
                    $('#calendar').attr({
                        'href' : 'https://static.apprupt.com/cal/173.ics',
                        'download' : 'download'
                    });
                }
                
                $('#howtoplay').click(function(){
                    $('#infoWrapper').fadeIn(function(){
                        $('.flexslider').flexslider({
                    animation: "slide",
                    slideshow: false,
                    slideshowSpeed: 3000,
                    directionNav: false,
                    animationLoop: false,
                    touch: true,
                    end : function(slider){

                    }
                  }); 
                    });
                });
                $('#closeInfo').click(function(){
                    $('#infoWrapper').fadeOut();
                });
                
                
                      
            });
        </script>
	   <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-91762580-1', 'auto');
          ga('send', 'pageview');

    </script>
	</body>
</html>