<html>
	<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" href="https://s3-eu-west-1.amazonaws.com/2017creatives/february/playerone_mre/300x250_1/css/main.css">
		<script src="https://s3-eu-west-1.amazonaws.com/2017creatives/february/playerone_mre/300x250_1/js/jquery.min.js"></script>
		<script src="https://s3-eu-west-1.amazonaws.com/2017creatives/february/playerone_mre/300x250_1/js/lodash.min.js"></script>
		<script src="https://s3-eu-west-1.amazonaws.com/2017creatives/february/playerone_mre/300x250_1/js/jquery.countdown.min.js"></script>
    <title>Gillette Player 1</title>
	</head>
	<body>
    
        
		<div class="main-example" id="stage1">
			<div class="clock"></div>
            
            <a href="#" class="calendar btn">TAKVİME EKLE</a>
            
            <!-- CLICK LINK -->
            <a href="#" id="info" class="btn" target="_blank">DETAYLI BİLGİ</a>
            
            <div id="howto">
                <a href="javascript:;" id="close"></a>
            </div>
            
		</div>
        <div class="main-example" id="stage2">
        
            <a href="#" class="calendar btn">TAKVİME EKLE</a>
            
            <!-- CLICK LINK -->
            <a href="#" id="info" class="btn" target="_blank">DETAYLI BİLGİ</a>
            
        </div>
		<script type="text/template" id="main-example-template">
			<div class="time <%= label %>">
				<span class="count curr top"><%= curr %></span>
				<span class="count next top"><%= next %></span>
				<span class="count next bottom"><%= next %></span>
				<span class="count curr bottom"><%= curr %></span>
				<span class="label"><%= label  %></span>
			</div>
		</script>
		<script type="text/javascript">
            $(window).on('load', function() {
                var labels = ['GÜN', 'SAAT', 'DAKİKA'],
                  nextYear = '2017/02/14 22:45:00',
                  template = _.template($('#main-example-template').html()),
                  currDate = '00:00:00:00:00',
                  nextDate = '00:00:00:00:00',
                  parser = /([0-9]{2})/gi,
                  $example = $('.clock');
                // Parse countdown string to an object
                function strfobj(str) {
                  var parsed = str.match(parser),
                    obj = {};
                  labels.forEach(function(label, i) {
                    obj[label] = parsed[i]
                  });
                  return obj;
                }
                // Return the time components that diffs
                function diff(obj1, obj2) {
                  var diff = [];
                  labels.forEach(function(key) {
                    if (obj1[key] !== obj2[key]) {
                      diff.push(key);
                    }
                  });
                  return diff;
                }
                // Build the layout
                var initData = strfobj(currDate);
                labels.forEach(function(label, i) {
                  $example.append(template({
                    curr: initData[label],
                    next: initData[label],
                    label: label
                  }));
                });
                // Starts the countdown
                $example.countdown(nextYear, function(event) {
                  var newDate = event.strftime('%D:%H:%M'),
                    data;
                  if (newDate !== nextDate) {
                    currDate = nextDate;
                    nextDate = newDate;
                    // Setup the data
                    data = {
                      'curr': strfobj(currDate),
                      'next': strfobj(nextDate)
                    };
                    // Apply the new values to each node that changed
                    diff(data.curr, data.next).forEach(function(label) {
                      var selector = '.%s'.replace(/%s/, label),
                          $node = $example.find(selector);
                      // Update the node
                      $node.removeClass('flip');
                      $node.find('.curr').text(data.curr[label]);
                      $node.find('.next').text(data.next[label]);
                      // Wait for a repaint to then flip
                      _.delay(function($node) {
                        $node.addClass('flip');
                      }, 50, $node);
                    });
                  }
                });
              });
            $(function(){                
                if (navigator.userAgent.indexOf('iPhone') > -1){
                    $('.calendar').attr('href', 'webcal://static.apprupt.com/cal/173.ics');
                } else {
                    $('.calendar').attr('href', 'https://static.apprupt.com/cal/173.ics');
                }
                setTimeout(function(){
                    $('#stage1').fadeOut();
                    $('#stage2').fadeIn();
                },3000);
            });
        </script>
	</body>
</html>