
@font-face {
  font-family: 'SamsungInterFace-Bold';
  src: url('https://s3-eu-west-1.amazonaws.com/ad-mobilike/mecra/samsung_countdown/320x568/fonts/SamsungInterFace-Bold.eot?#iefix') format('embedded-opentype'),
       url('https://s3-eu-west-1.amazonaws.com/ad-mobilike/mecra/samsung_countdown/320x568/fonts/SamsungInterFace-Bold.woff') format('woff'),
       url('https://s3-eu-west-1.amazonaws.com/ad-mobilike/mecra/samsung_countdown/320x568/fonts/SamsungInterFace-Bold.ttf')  format('truetype'),
       url('https://s3-eu-west-1.amazonaws.com/ad-mobilike/mecra/samsung_countdown/320x568/fonts/SamsungInterFace-Bold.svg#SamsungInterFace-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'SamsungInterFace-Regular';
  src: url('https://s3-eu-west-1.amazonaws.com/ad-mobilike/mecra/samsung_countdown/320x568/fonts/SamsungInterFace-Regular.eot?#iefix') format('embedded-opentype'),
       url('https://s3-eu-west-1.amazonaws.com/ad-mobilike/mecra/samsung_countdown/320x568/fonts/SamsungInterFace-Regular.woff') format('woff'),
       url('https://s3-eu-west-1.amazonaws.com/ad-mobilike/mecra/samsung_countdown/320x568/fonts/SamsungInterFace-Regular.ttf')  format('truetype'),
       url('https://s3-eu-west-1.amazonaws.com/ad-mobilike/mecra/samsung_countdown/320x568/fonts/SamsungInterFace-Regular.svg#SamsungInterFace-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
