*{margin: 0; padding: 0; box-sizing: border-box;}

html, body{width: 100%; height: 100%;}

.stage{width:320px; height: 568px; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto;}

#wrapper{background: url(https://s3-eu-west-1.amazonaws.com/2017creatives/february/avon_mark_k3-24-02/320x568/img/kadin.jpg) 0 0 no-repeat; background-size: contain;}
#wrapper a{width: 100%; height: 460px; display: block; position: absolute; top: 0; left: 0;}

#finish{background: url(https://s3-eu-west-1.amazonaws.com/2017creatives/february/avon_mark_k3-24-02/320x568/img/stage-2.jpg) 0 0 no-repeat; background-size: contain; display: none;}
#finish a{width: 100%; height: 100%; display: block;}

#materials{height: 108px; width: 100%; padding-top: 460px;}

#face{width: 122px; height: 170px; position: absolute; top: 164px; left: 102px;}

.material, .on{background-size: contain !important; position: absolute;}

#maskara{width: 42px; height: 72px; background: url(https://s3-eu-west-1.amazonaws.com/2017creatives/february/avon_mark_k3-24-02/320x568/img/maskara.png) 0 0 no-repeat; top: 464px; left: 31px;}
#fondoten{width: 56px; height: 55px; background: url(https://s3-eu-west-1.amazonaws.com/2017creatives/february/avon_mark_k3-24-02/320x568/img/fondoten.png) 0 0 no-repeat; top: 479px; left: 98px;}
#eyeshadow{width: 57px; height: 55px; background: url(https://s3-eu-west-1.amazonaws.com/2017creatives/february/avon_mark_k3-24-02/320x568/img/eyeshadow.png) 0 0 no-repeat; top: 480px; left: 178px;}
#lipstick{width: 14px; height: 61px; background: url(https://s3-eu-west-1.amazonaws.com/2017creatives/february/avon_mark_k3-24-02/320x568/img/lipstick.png) 0 0 no-repeat; top: 478px; left: 268px;}

.on{width: 122px; height: 170px; top: 0; left: 0; display: none;}

#maskara-on{ background: url(https://s3-eu-west-1.amazonaws.com/2017creatives/february/avon_mark_k3-24-02/320x568/img/maskara-on.png) 0 0 no-repeat;}
#fondoten-on{ background: url(https://s3-eu-west-1.amazonaws.com/2017creatives/february/avon_mark_k3-24-02/320x568/img/fondoten-on.png) 0 0 no-repeat;}
#eyeshadow-on{ background: url(https://s3-eu-west-1.amazonaws.com/2017creatives/february/avon_mark_k3-24-02/320x568/img/eyeshadow-on.png) 0 0 no-repeat;}
#lipstick-on{ background: url(https://s3-eu-west-1.amazonaws.com/2017creatives/february/avon_mark_k3-24-02/320x568/img/lipstick-on.png) 0 0 no-repeat;}

#drag{width: 93px; height: 93px; background: url(https://s3-eu-west-1.amazonaws.com/2017creatives/february/avon_mark_k3-24-02/320x568/img/drag.png) 0 0 no-repeat; background-size: contain; position: absolute; top: 351px; left: 110px; opacity: 1; -webkit-transition:all 0.5s ease 4s; transition:all 0.5s ease 4s;}
#drag.fadeOut{opacity: 0;}