/* Add to docs */

#wrapper {
    width: 300px;
    height: 250px;
    margin: auto;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
}

#scrolling{
    position:absolute;
    top:0;
    height:250px;
    width:300px;
    overflow: hidden;
}

#topsBg {
    background: transparent url('https://s3-eu-west-1.amazonaws.com/2017creatives/february/oralb_slider_ad-06-02/300x250/img/top.jpg') center 0 no-repeat;
    height: 102px;
    width: 300px;
    position: absolute;
    background-size: contain;
    top: 0;
}
#bottomBg{
    background: transparent url('https://s3-eu-west-1.amazonaws.com/2017creatives/february/oralb_slider_ad-06-02/300x250/img/bottom.jpg') center 0 no-repeat;
    height: 46px;
    width: 300px;
    position: absolute;
    background-size: contain;
    bottom: 0;
}
#midB{height: 104px; position: absolute; top: 102px; width: 300px; overflow: hidden;}
#mids {position: absolute; top: 0; height: 103px;}

#static{width: 300px; height: 104px; position: absolute; background: url(https://s3-eu-west-1.amazonaws.com/2017creatives/february/oralb_slider_ad-06-02/300x250/img/static.png) 0 0 no-repeat; background-size: contain; z-index: 2;}

ul {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
    padding: 0;
    position: absolute;
    /*height:80%;*/
    list-style-type: none;
    -webkit-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

li {
    float: left;
    width:300px;
    min-width: 250px;
    height: 100%;
    color: #000;
    font-weight: 300;
    text-align: center;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -o-border-radius: 30px;
    -moz-border-radius: 30px;
    cursor: pointer;
    -webkit-transform:  scale(1);
    -ms-transform:  scale(1);
    -moz-transform:  scale(1);
    transform: scale(1);
}

.itemslide-active
{
    /*applied to current active item*/
    -webkit-transform:  scale(1);
    -ms-transform:  scale(1);
    -moz-transform:  scale(1);
    transform: scale(1);
}
