/**
* 01 - BASE LAYOUT - * html, body, map-canvas general styles
*/
html,body,#map-canvas{height:100%;margin:0;padding:0;width:100%}
#map-canvas{height:100%;margin-left:auto;margin-right:auto;width:100%}


/**
* 02 - HELPERS - * Some helper classes
*/
.hidden{display:none}
.pull-left{float:left}


/**
* 03 - LOADER - * Loading Styles
*/
#loader{width:100%;height:100%;background:#fff;display:block;color:#fff;opacity:.5;position: absolute;top:0;left:0;}
.loader-inner{display:table;height:100%;width:100%;vertical-align:middle;text-align:center}
.loader-inner-cell{display:table-cell;vertical-align:middle;text-align:center}
#loader p{font-family:Arial,"Helvetica Neue",Helvetica,sans-serif;color:#333;margin-top:30px;font-size: 12px;}
#loader img{height:120px;width:120px}


/**
* 04 - INFO WINDOW - * Info Window Styles
*/
.infoWrapper {margin-top:30px !important;}
.infoWrapper>div:first-child{display: none;}
.infoWindow {width: 180px;}
/** If you want to style info window, plase remove comments from gmaps.js
/*.infoWrapper .gm-style-iw{display:block!important;padding-bottom: 8px;}*/
/*.infoWrapper .gm-style-iw>div>div {background:#fff; padding: 5px;border-radius: 4px;border:1px solid #f1c40f; max-width: 130px;max-height: 46px;overflow-y: auto;}*/
/*.infoWrapper .gm-style-iw>div>div  h3{font-weight:normal;padding:0;margin:0;font-size:12px;color: #34495e;}*/
/*.infoWrapper .gm-style-iw>div>div  span {color: #f39c12; font-weight: bold}*/

/*.infoWindow{background:#fff; padding: 5px;border-radius: 4px;border:1px solid #f1c40f; max-width: 130px;max-height: 46px;overflow-y: auto;}*/
/*.infoWindow h3{font-weight:normal;padding:0;margin:0;font-size:12px;color: #34495e;}*/
/*.infoWindow span {color: #f39c12; font-weight: bold}*/

.infoWrapper>div:nth-child(3){
    margin-right: 15px !important;
    border: 2px solid #f39c12 !important;
    padding: 3px !important;
    border-radius: 50% !important;
    background-color: #fff !important;
    margin-top: -10px !important;
}
.infoWrapper>div:nth-child(2):after {
    content: url("https://ad.mobilike.com/_advert/gillettePro/img/down-arrow.png");
    position: absolute;
    bottom: -7px;
    left: 43%;
}
.infoWrapper>div:nth-child(3) img {
    left: 1px !important;
    top: -333px !important;}

#incele{position: absolute; display: block; width: 129px; height: 28px; top: 141px; left: 175px;}

#btn{width: 257px; height: 46px; display: block; text-indent: -9999px; position: absolute; top:318px; left: 32px;}
