html, body, div, span, ul, li{margin: 0; padding: 0; box-sizing: border-box;}
.main-example{width:300px; height: 250px; text-align: center; margin: auto; position: absolute; top: 0;left: 0; bottom: 0;right: 0; background: url(https://s3-eu-west-1.amazonaws.com/2017creatives/february/playerone_mre/300x250_2/img/bg-01.jpg) 0 0 no-repeat; background-size: contain;}

.clock{font-family: sans-serif; padding-top: 20px; width: 200px; float: right; margin-right: 5px;}

#calendar{left:107px; width: 82px; height: 28px; display: block; text-indent: -9999px; position: absolute; top: 155px; z-index: 2;}
#info{left:0; top: 0; width: 100%; height: 100%; display: block; text-indent: -9999px; position: absolute;}

#stage2{background: url(https://s3-eu-west-1.amazonaws.com/2017creatives/february/playerone_mre/300x250_2/img/bg-02.jpg) 0 0 no-repeat; background-size: contain; display: none;}

.main-example .time {
  border-radius: 3px;
  display: inline-block;
  text-align: center;
  position: relative;
  height: 49px;
  width: 53px;
  margin:0 5px;

  -webkit-perspective: 479px;
  -moz-perspective: 479px;
  -ms-perspective: 479px;
  -o-perspective: 479px;
  perspective: 479px;

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);

  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.main-example .count {
  
  color: #fff;
  display: block;
  font-size: 36px;
  line-height: 49px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;

  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);

  -webkit-transform-style: flat;
  -moz-transform-style: flat;
  -ms-transform-style: flat;
  -o-transform-style: flat;
  transform-style: flat;
}
.main-example .count.top {
background: url(https://s3-eu-west-1.amazonaws.com/2017creatives/february/playerone_mre/300x250_2/img/flip.png) 0 0 no-repeat;

  height: 50%;

  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
.main-example .count.bottom {
  background: url(https://s3-eu-west-1.amazonaws.com/2017creatives/february/playerone_mre/300x250_2/img/flip.png) 0 bottom no-repeat;
  border-radius: 0 0 5px 5px;
  line-height: 0;
  height: 50%;
  top: 50%;

  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
}
.main-example .count.next {
}
.main-example .label {
  font-family: 'SamsungInterFace-Regular';
  font-size: 9px;
  color:#fff;
  display: block;
  position: absolute;
  top: 55px;
  width: 100%;
}
/* Animation start */
.main-example .count.curr.top {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
  z-index: 3;
}
.main-example .count.next.bottom {
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
  z-index: 2;
}
/* Animation end */
.main-example .flip .count.curr.top {
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;

  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  -o-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}
.main-example .flip .count.next.bottom {
  -webkit-transition: all 250ms ease-in-out 250ms;
  -moz-transition: all 250ms ease-in-out 250ms;
  -ms-transition: all 250ms ease-in-out 250ms;
  -o-transition: all 250ms ease-in-out 250ms;
  transition: all 250ms ease-in-out 250ms;

  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
}